@media screen and (max-width: 600px) {

header {
  /* background-color: red !important; */
  
  height: 50% !important;


  /* width: 50%; */
  align-items:  center !important;
}



span {
display: inline-flex !important;
padding: 8px 3px !important;
font-size: 22px !important;
align-items: center !important;
text-align: center !important;
flex-direction: row !important;
justify-content: center !important;
margin: 0px 0% !important;

}
img {

height: 22px !important;

}
.menu {

  /* background-color: orange !important; */
  display: flex !important;
  justify-content: space-between !important;
  /* flex-direction: column !important; */
  font-size: 12px !important;
  vertical-align: text-bottom !important;
  padding-left: 20px !important;
  padding-right: 20px !important;

}

.links{
  flex-flow:  row !important;
  text-align:center !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  padding: 5px 33px !important;

  /* padding: 5px 33.3%; */



}

}

/* media ends */


* {
  box-sizing: border-box;
  margin: 0px;
}

footer {
  padding: 5px 15px;
  /* background-color: blue; */
}
.links{

justify-content: flex-end;
}

.themeFont{

font-family: 'Fredoka', sans-serif;

}

.menu {
  padding: 0px 35px;
  display: inline-flex;
  justify-content:  flex-end;
  align-items:  center;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  height: 100%;
  font-weight: 50;
  font-size: .9em;
  vertical-align: bottom;
  color: #D8EBFD;


}



header {
  /* flex-wrap: wrap; */
  /* display: flex; */
  flex-direction: row;
  background-color: #45A0F5;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none !important;
  font-family: 'Nunito Sans';
  font-weight: 200;
  vertical-align: baseline;
}

.menu.active {
  /* text-decoration: none !important; */
  color: #2E73B3;
}

header ul a {
  color: #D8EBFD;
  /* text-decoration: none !important; */
}

.menu:hover {
  color: #193E61;
  /* text-decoration: none !important; */
}

span {

  font-size: 25px;
  padding: 10px 15px 0px 15px;
  display: flex;
}

.logoTop {
  color: black;
  height: 40px;
}

.firstSegment {
  background-color: #ffffff;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.segunda {
  display: flex;
  flex-wrap: wrap;
}

.mainParagraph {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
}

.twocolumns {
  display: table-cell;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 44px;
  flex: 50%;
}
