body {
  background: url('https://images.unsplash.com/photo-1587783456120-fa80c81a6c4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar-brand{

      height: 75px;

}
.tmnav{

  font-size: 45px;

}
.alpha {
  color: $purple;
}

.beta {
  color: $yellow-300;
  background-color: $indigo-900;
}

.separate {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.Cardspace{

  margin-top: 3%;
  margin-bottom: 3%;

}

.greycard {
  background-color: #CCFFBD;
}

.grid {
  margin-top: 300px;
}

.navbar-brand {
  font-family: 'Nunito Sans', sans-serif;
}

.phoneicon {

  margin-top: auto;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-right: 15px;

}

a {
  font-family: helvetica;
  text-decoration: none !important;
  display: inline-block;
  color: #5c5c8a;
  padding: 5px 10px;
  text-decoration: none !important;
  padding-top: 25px;
  font-weight: bold;
  margin: auto 15px;
}


.rightalign
{

  text-align: right;

}
.logofont{

font-family: 'Nunito Sans', sans-serif;
text-align: center;
color:white;
padding-top: 30px;
padding-bottom: 30px;
}

.lead {
  margin-bottom: 25px;
}

.backgroundtxt
{

background: url('https://images.unsplash.com/photo-1627905646269-7f034dcc5738?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') center center fixed;
background-repeat: no-repeat;
background-position: top left;


}
.containerMain::before{
  background: url('https://images.unsplash.com/photo-1627905646269-7f034dcc5738?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') center center fixed;
  background-repeat: no-repeat;
  opacity: 0.50;
  background-position: top left;


}

.clearback
{

background-color: gray;

}
.col {

    text-align: center;

}
.imgCarr {

width: 80%;
margin-top: 30px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;

}
.carrmargin {

  margin: 0px auto;
}

.mainCard{

  background-color= #6998AB;
}

.card-title {

  margin-top: 30px;
  margin-bottom: 30px;

}

.card-text {

  margin-top: 15px;
  margin-bottom: 25px;

}
.marginspace
{

margin-top: 35px;
margin-bottom: 35px;

}

.fullmarginhrz

{

margin-top: auto;
margin-bottom: auto;
margin-left: 0px;
margin-right: 0px;
;


}

.greydiv
{
background-blend-mode: difference;
background-image: linear-gradient(to right, #D9D7F1, rgb(191, 255, 240));
padding: 8%;
margin: 0px;
}

.textleft {

text-align: left;

}
.containerMain
{

padding-left: 0px;
padding-right: 10%;
}
